[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "wccls"
version = "1.2.0"
description = "Scraper for the WCCLS account page"
authors = ["Rehan Khwaja <rehan@khwaja.name>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/rkhwaja/wccls"
classifiers = [
	"License :: OSI Approved :: MIT License",
	"Development Status :: 5 - Production/Stable",
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7"]

[tool.poetry.dependencies]
python = ">=3.6"
beautifulsoup4 = "^4.6"
requests = "^2.20"

[tool.poetry.dev-dependencies]
pytest = "^3.9"
pylint = "^2.1"
