[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "wccls"
version = "3.1.0"
description = "Scraper for the WCCLS account page"
authors = ["Rehan Khwaja <rehan@khwaja.name>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/rkhwaja/wccls"
classifiers = [
	"License :: OSI Approved :: MIT License",
	"Development Status :: 5 - Production/Stable",
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10"
	]
packages = [
    { include = "wccls", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
beautifulsoup4 = ">=4.9.3"
requests = ">=2.25.1"
urllib3 = [
	{ version = ">=1.26", python = ">=3.10,<4" }
]
aiohttp = ">=3.8.1"

[tool.poetry.dev-dependencies]
pytest = ">=7.1"
pylint = ">=2.11" # need at least this for all the extensions
pylint-quotes = ">=0.2.1"
pytest-cov = ">=2.10.1"
pytest-asyncio = ">=0.16.0"
poethepoet = ">=0.16.4"

[tool.poe.tasks]
lint = "pylint src/wccls tests"

[tool.poe.tasks.test]
shell = """
pytest --cov=src/wccls
coverage xml
"""

[tool.pylint.master]
load-plugins = [
	"pylint_quotes",
	"pylint.extensions.code_style",
	"pylint.extensions.confusing_elif",
	"pylint.extensions.bad_builtin",
	"pylint.extensions.bad_builtin",
	"pylint.extensions.mccabe",
	"pylint.extensions.check_elif",
	"pylint.extensions.redefined_variable_type",
	"pylint.extensions.overlapping_exceptions",
	"pylint.extensions.empty_comment",
	"pylint.extensions.set_membership",
	# "pylint.extensions.while_used",
	]
enable="useless-suppression"

[tool.pylint.format]
indent-string = "\t"
string-quote = "single-avoid-escape"
triple-quote = "single"

[tool.pylint.messages_control]
disable = [
	"consider-using-assignment-expr",
	"fixme",
	"invalid-name",
	"line-too-long",
	"missing-docstring",
	"too-few-public-methods",
	"too-many-arguments"
]

[tool.pytest.ini_options]
pythonpath = ["src"]
