interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/user/login
  response:
    body:
      string: <html><body>You are being <a href="https://multcolib.bibliocommons.com/user/login?destination=%2Fuser_dashboard">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://multcolib.bibliocommons.com/user/login?destination=%2Fuser_dashboard
      X-Content-Security-Policy:
      - frame-ancestors 'self' *.bibliocommons.com *.bibliocms.com
      X-Version:
      - app06 Version 8.32.0 Last updated 2020/07/06 16:23
      stats_bibliocommons:
      - RAILS,28;http-bio-3000-exec-9
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/user/login?destination=%2Fuser_dashboard
  response:
    body:
      string: "<!-- APPLICATION LAYOUT -->\n\n\n\n\n\n<!DOCTYPE html>\n<html xmlns:og=\"http://ogp.me/ns#\"
        lang=\"en-US\">\n<head>\n  <!-- Data Layer -->\n<script>\n  window.dataLayer
        = window.dataLayer || [{\"bc.siteId\":\"OR-MULTNOMAH\",\"bc.libraryId\":152,\"bc.localBranch\":null,\"bc.shortName\":\"MCL\",\"bc.longName\":\"Multnomah
        County Library\",\"bc.domain\":\"multcolib\",\"bc.externalGaId\":\"UA-2910998-5\",\"bc.gaCrossDomainNames\":[],\"bc.gaCrossDomainEnabled\":false,\"bc.cmsEnabled\":false,\"bc.cmsUrl\":\"http://bibliocms.com/\",\"bc.crazyEggId\":\"00178067\",\"bc.product\":\"core\",\"bc.branch\":null,\"bc.version\":\"Version
        8.32.0 Last updated 2020/07/06 16:23 [cor-liv-app06]\"}];\n</script>\n<!--
        end Data Layer -->\n<!-- Start Google Tag Manager-->\n<script>(function(w,d,s,l,i)\n{\n
        \ w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});\n
        \ \n  var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n
        \ \n  j.async=true;\n  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+'';\n
        \ f.parentNode.in[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/user_dashboard
  response:
    body:
      string: "<!-- APPLICATION LAYOUT -->\n\n\n\n\n\n<!DOCTYPE html>\n<html xmlns:og=\"http://ogp.me/ns#\"
        lang=\"en-US\">\n<head>\n  <!-- Data Layer -->\n<script>\n  window.dataLayer
        = window.dataLayer || [{\"bc.siteId\":\"OR-MULTNOMAH\",\"bc.libraryId\":152,\"bc.localBranch\":null,\"bc.shortName\":\"MCL\",\"bc.longName\":\"Multnomah
        County Library\",\"bc.domain\":\"multcolib\",\"bc.externalGaId\":\"UA-2910998-5\",\"bc.gaCrossDomainNames\":[],\"bc.gaCrossDomainEnabled\":false,\"bc.cmsEnabled\":false,\"bc.cmsUrl\":\"http://bibliocms.com/\",\"bc.crazyEggId\":\"00178067\",\"bc.encodedUserId\":\"/mRUOvliMJIjkfB3kvNozw==\",\"bc.product\":\"core\",\"bc.branch\":null,\"bc.version\":\"Version
        8.32.0 Last updated 2020/07/06 16:23 [cor-liv-app06]\"}];\n</script>\n<!--
        end Data Layer -->\n<!-- Start Google Tag Manager-->\n<script>(function(w,d,s,l,i)\n{\n
        \ w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});\n
        \ \n  var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n
        \ \n  j.async=true;\n  j[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/v2/checkedout
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\" >\n  <head>\n    <!-- Data Layer
        -->\n    <script>\n        dataLayer = [{\"bc.localBranch\":null,\"bc.product\":\"core\",\"bc.gaCrossDomainEnabled\":false,\"bc.cmsEnabled\":false,\"bc.encodedUserId\":\"/mRUOvliMJIjkfB3kvNozw==\",\"bc.libraryId\":152,\"bc.version\":\"nerf02
        Version 8.32.0@0cd6714 Last updated 2020/07/09 12:33\",\"bc.gaCrossDomainNames\":[],\"bc.externalGaId\":\"UA-2910998-5\",\"bc.siteId\":\"OR-MULTNOMAH\",\"context\":{},\"bc.domain\":\"multcolib\",\"bc.cmsUrl\":\"http://bibliocms.com/\",\"bc.longName\":\"Multnomah
        County Library\",\"bc.shortName\":\"MCL\",\"bc.crazyEggId\":\"00178067\"}];\n
        \     </script>\n    <!-- end Data Layer -->\n    <!-- Start Google Tag Manager-->\n
        \   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n            new
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n
        \           j.async=true;j.src=\n            'https://www.googletagmanager.com/gtm.js?id='+i+dl\n
        \           ;\n            f.parentNode.insertBefore(j,f);\n          })(window,document,'script','dataLayer','GTM-TDPBXX');</script>\n
        \   <!-- End Google Tag Manager -->\n    <link rel=\"shortcut icon\" href=\"/images/OR-MULTNOMAH/favicon.ico\"
        />\n    <title data-react-helmet=\"true\">Checked Out | Multnomah County Library
        | BiblioCommons</title>\n    <meta data-react-helmet=\"true\" charset=\"utf-8\"/><meta
        data-react-helmet=\"true\" property=\"og:title\" content=\"Checked Out | Multnomah
        County Library | BiblioCommons\"/><meta data-react-helmet=\"true\" property=\"twitter:title\"
        content=\"Checked Out | Multnomah County Library | BiblioCommons\"/><meta
        data-react-helmet=\"true\" property=\"og:site_name\" content=\"Multnomah County
        Library\"/><meta data-react-helmet=\"true\" name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\"/><meta data-react-helmet=\"true\" property=\"twitter:creator\"
        content=\"@MultCoLib\"/>\n    <script data-react-helmet=\"true\" type=\"application/ld+json\">{\"@context\":\"http://schema.org\",\"@type\":\"Library\",\"name\":\"Multnomah
        County Library\",\"url\":\"https://multcolib.bibliocommons.com\",\"logo\":\"https://multcolib.bibliocommons.com/images/OR-MULTNOMAH/logo.png\",\"image\":\"https://multcolib.bibliocommons.com/images/OR-MULTNOMAH/logo.png\"}</script>\n
        \   \n    <link href=\"https://cdn-nerf.bibliocommons.com/app.main-7b7dce108d0cc166d623.css\"
        media=\"screen, projection, print\" rel=\"stylesheet\" type=\"text/css\" />\n
        \   <link href=\"//cor-cdn-static.bibliocommons.com/assets/responsive_external_header-156e7de8a0a4f7850796e04765ea464c.css\"
        media=\"all\" rel=\"stylesheet\" type=\"text/css\" />\n<link href=\"//cor-liv-cdn-static.b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/v2/holds/ready_for_pickup
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\" >\n  <head>\n    <!-- Data Layer
        -->\n    <script>\n        dataLayer = [{\"bc.localBranch\":null,\"bc.product\":\"core\",\"bc.gaCrossDomainEnabled\":false,\"bc.cmsEnabled\":false,\"bc.encodedUserId\":\"/mRUOvliMJIjkfB3kvNozw==\",\"bc.libraryId\":152,\"bc.version\":\"nerf02
        Version [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://multcolib.bibliocommons.com/v2/holds/in_transit
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\" >\n  <head>\n    <!-- Data Layer
        -->\n    <script>\n        dataLayer = [{\"bc.localBranch\":null,\"bc.product\":\"core\",\"bc.gaCrossDomainEnabled\":false,\"bc.cmsEnabled\":false,\"bc.encodedUserId\":\"/mRUOvliMJIjkfB3kvNozw==\",\"bc.libraryId\":152,\"bc.version\":\"nerf02
        Version 8.32.0[...]
